* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f4f6f9, #e9edf3);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
}


.container {
    display: flex;
    width: 85%;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
}

.left img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.right {
    max-width: 550px;
}

.right h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
}

.right span {
    color: #0d6efd;
}

.right h2 {
    font-size: 22px;
    font-weight: 500;
    color: #6c757d;
    margin-bottom: 20px;
}

.right p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #495057;
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    padding: 12px 28px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #084298;
}

.btn-outline {
    padding: 12px 28px;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 15px;
    transition: 0.3s ease;
}

.btn-outline:hover {
    background-color: #0d6efd;
    color: white;
}

.social a {
    margin-right: 20px;
    text-decoration: none;
    color: #495057;
    font-weight: 500;
    transition: 0.3s;
}

.social a:hover {
    color: #0d6efd;
}
